@import "../../styles/variables/colors.scss";

.FAQ {
  margin: 6rem 0;

  details {
    box-sizing: border-box;
    max-width: 629px;
    text-align: center;
    margin: 2rem auto;
    .Content {
      transform: translateY(-40px);
      z-index: 1;
      position: relative;
      p {
        padding: 50px 20px 20px 20px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
      }
    }
    summary {
      list-style-type: none;
      background-color: $middle-red;
      padding: 1rem;
      border-radius: 2rem;
      color: #ffffff;
      border: 2px solid transparent;
      position: relative;
      z-index: 2;
      cursor: pointer;
      &:focus {
        border-color: rgb(77, 6, 6);
      }
    }
    details[open] .Content {
      animation: sweep, 0.5s ease-out;
    }
    p {
      max-width: 580px;
      background-color: rgba(207, 0, 0, 0.5);
      color: #ffffff;
      margin: 0 auto;
      padding: 2rem 0;
    }
  }
}

@media (max-width: 671px) {
  .FAQ {
    details {
      max-width: 80%;
    }
  }
}
