@import "../../styles/variables/colors.scss";
@import "../../styles/mixins/mixins.scss";

.CourseNav {
  background-color: #212121;
  box-shadow: 0 17px 20px rgba(207, 0, 0, 0.5);
  z-index: 2;
  position: relative;
  ul {
    list-style-type: none;
    padding: 7px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include container;

    a {
      color: #fff;
      img.link {
        display: none;
      }
    }
  }
}
@media (max-width: 540px) {
  .CourseNav {
    padding: 10px;
    ul {
      a {
        span{
          display: none;
        }
        img.link {
          display: inline;
        }
      }
    }
  }
}
