@import "../../styles/mixins/mixins.scss";

.About {
  color: #fff;
  text-align: center;
  padding-top: 2rem;

  .AboutText {
    max-width: 70%;
    margin: 0 auto;
    line-height: 1.5rem;
    font-size: 20px;
  }
  .CardContainer {
    @include container;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 4rem;

    .Card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 358px;
      margin: 1rem;
      h2,
      p {
        text-align: start;
      }
    }
  }
}

@media (max-width: 780px) {
  .About {
    .CardContainer {
      .Card {
        p {
          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .About {
    .AboutText {
      font-size: 14px;
    }
    .CardContainer {
      .Card {
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .About {
    .AboutText {
      font-size: 12px;
    }
    .CardContainer {
      .Card {
        img {
          width: 40px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}
