.Drawer .content{
  height: 100%;
  width: 250px;
  padding-left: 1rem;
  position: fixed;
  top: 0;
  left: 0;

  font-size: 1.5rem;
  background: #212121;
  color: rgb(238, 238, 238);
  box-shadow:  0 0 10px rgba(0, 0, 0, .5);
  transition: transform .3s ease-out;
  z-index: 2;
}

.open{
  transform: translateX(0);
}
.close{
  transform: translateX(-260px);
}


@media (min-width:540px){
  .Drawer {
      display: none;
  }
}

@media(max-width:500px) {
  .Drawer {
    .content {
      width: 200px;
      li{
        a{
          font-size: 1rem;
        }
      }
    }
  }
}