@import "../../styles/mixins/mixins.scss";
@import "../../styles/variables/colors.scss";

.Header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;

  .HeaderContent {
    @include container;

    h1 {
      font-weight: 600;
      font-size: 72px;
      text-transform: uppercase;
      margin: 0;
      padding-top: 4rem;
      color: #fff;
      span {
        color: $light-red;
      }
    }
    h2 {
      font-weight: 400;
      font-size: 64px;
      margin-top: 0.2rem;
      color: #fff;
    }
    p {
      max-width: 50%;
      font-weight: 400;
      font-size: 24px;
      color: #fff;
      line-height: 35.76px;
    }
    button {
      background-color: $light-red;
      font-size: 24px;
      font-weight: 400;
      border: none;
      color: #fff;
      padding: 1rem 2rem;
      border-radius: 10px;
      a {
        color: #fff;
      }
    }
    button:hover {
      a {
        color: $light-red;
      }
      background-color: #fff;
      cursor: pointer;
      transition: .3s;
    }
  }
  img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}

@media (max-width: 1000px) {
  .Header img {
    display: none;
  }
  .HeaderContent {
    padding: 0 3.5rem;
  }
}

@media (max-width: 540px) {
  .Header {
    .HeaderContent {
      h1 {
        font-size: 54px;
        padding-top: 2rem;

      }
      h2 {
        font-size: 38px;
      }
      p {
        max-width: 80%;
        font-size: 20px;
      }
      button {
        padding: .5rem 1rem;
      }
    }
  }
}

@media(max-width:500px) {
  .Header {
    .HeaderContent {
      h1 {
        font-size: 44px;
      }
      h2 {
        font-size: 28px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}


@media(max-width:400px) {
  .Header {
    .HeaderContent {
      padding: 0 .7rem;
      p {
        font-size: 12px;
      }
      button {
        font-size: 18px;
      }
    }
  }
}
