@import "../../styles/mixins/mixins.scss";
@import "../../styles/variables/colors.scss";
footer {
  width: 100%;
  background-color: $light-red;
  color: #fff;
  padding: 0 100px;
  .container {
    @include container;
    @include horizontal-flex;
    @include standart-padding;
    justify-content: space-between;
    .links{
      @include vertical-flex;
      justify-content: space-between;
      .courses{
        @include vertical-flex;
        margin-bottom: 100px;
        ul{
          @include set-list;
          @include horizontal-flex;
          li{
            margin-right: 100px;
            a{
              @include reset-link;
            }
          }
        }
      }
      .media{
        @include vertical-flex;
        ul{
          @include horizontal-flex;
          @include set-list;
          li{
            margin-right: 36px
          }

        }
      }
    }
    .footer_info{
      @include vertical-flex;
      >div{
        margin-top: 20px;
        @include vertical-flex;
        span{
          margin: 10px 0;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  
}
