@import "../../styles/variables/colors.scss";
@import "../../styles/variables/font-family.scss";
@import "../../styles/mixins/mixins.scss";

.Nav {
  background-color: #212121;
}

.Nav ul{
  list-style-type: none;
  padding: 7px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include container;
}

.Nav ul li a{
  color: #fff;
  font-family: $base-font-family;
}

@media(max-width:540px) {
  .Nav {
    display: none;
  }
}
